body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url('https://multimedia.3m.com/mws/media/1850997O/post-it-virtual-backgrounds-murals-galore-dream-big.jpg');
}


form{
    display: inline-block;
}

#checkbox{
    align-items: left;
}