body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-image: url('https://multimedia.3m.com/mws/media/1850997O/post-it-virtual-backgrounds-murals-galore-dream-big.jpg');
}


form{
    display: inline-block;
}

#checkbox{
    align-items: left;
}

.btnApagar{
    float: right;
    background-color:#ff5555;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn {
 
}